make-blueprints/recruiter-os-core-pipeline.blueprint.json
{
    "name": "recruiter-os-core-pipeline",
    "flow": [
        {
            "id": 1,
            "module": "airtable:TriggerWatchRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 7278352,
                "base": "appj8oYhWlFRxFyCC",
                "useColumnId": false,
                "table": "tblRZDkz2iwpOHGEj",
                "config": {
                    "triggerField": "Last Modified Time",
                    "labelField": "Automation Status"
                },
                "maxRecords": 1,
                "view": "",
                "formula": "{Automation Status} = \"Processing\""
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 122,
                    "y": 12
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Airtable Token or Key connection",
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            }
                        },
                        "base": {
                            "label": "RecruiterOS"
                        },
                        "table": {
                            "label": "Candidates"
                        },
                        "config": {
                            "nested": {
                                "triggerField": {
                                    "label": "Last Modified Time"
                                },
                                "labelField": {
                                    "label": "Automation Status"
                                }
                            }
                        },
                        "view": {
                            "label": "Empty"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "config",
                        "type": "collection",
                        "label": "Trigger configuration",
                        "spec": [
                            {
                                "name": "triggerField",
                                "type": "select",
                                "label": "Trigger field",
                                "required": true
                            },
                            {
                                "name": "triggerField",
                                "type": "hidden"
                            },
                            {
                                "name": "labelField",
                                "type": "select",
                                "label": "Label field",
                                "required": true
                            }
                        ]
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Full Name",
                        "label": "Full Name",
                        "type": "text"
                    },
                    {
                        "name": "CV Attachment",
                        "label": "CV Attachment",
                        "type": "array",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "width",
                                "type": "uinteger",
                                "label": "Width"
                            },
                            {
                                "name": "height",
                                "type": "uinteger",
                                "label": "Height"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name"
                            },
                            {
                                "name": "size",
                                "type": "uinteger",
                                "label": "Size"
                            },
                            {
                                "name": "type",
                                "label": "MIME type",
                                "type": "text"
                            },
                            {
                                "name": "thumbnails",
                                "label": "Thumbnails",
                                "type": "collection",
                                "spec": [
                                    {
                                        "name": "small",
                                        "label": "Small",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "large",
                                        "label": "Large",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "full",
                                        "label": "Full",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ]
                                    }
                                ]
                            }
                        ]
                    },
                    {
                        "name": "Automation Status",
                        "label": "Automation Status",
                        "type": "text"
                    },
                    {
                        "name": "Job Link",
                        "label": "Job Link",
                        "type": "array",
                        "spec": {
                            "label": "Record ID"
                        }
                    },
                    {
                        "name": "AI Match Score",
                        "label": "AI Match Score",
                        "type": "number"
                    },
                    {
                        "name": "AI Summary",
                        "label": "AI Summary",
                        "type": "text",
                        "multiline": true
                    },
                    {
                        "name": "Extracted Email",
                        "label": "Extracted Email",
                        "type": "text"
                    },
                    {
                        "name": "Extracted Phone",
                        "label": "Extracted Phone",
                        "type": "text"
                    },
                    {
                        "name": "Last Modified Time",
                        "label": "Last Modified Time",
                        "type": "date"
                    }
                ]
            }
        },
        {
            "id": 9,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "cvURL",
                "scope": "roundtrip",
                "value": "{{1.`CV Attachment`[].url}}"
            },
            "metadata": {
                "designer": {
                    "x": 422,
                    "y": 12
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "cvURL",
                        "label": "cvURL",
                        "type": "any"
                    }
                ]
            }
        },
        {
            "id": 11,
            "module": "http:MakeRequest",
            "version": 4,
            "parameters": {
                "authenticationType": "noAuth",
                "tlsType": "",
                "proxyKeychain": ""
            },
            "mapper": {
                "url": "{{9.cvURL}}",
                "method": "get",
                "parseResponse": true,
                "stopOnHttpError": true,
                "allowRedirects": true,
                "shareCookies": false,
                "requestCompressedContent": true
            },
            "metadata": {
                "designer": {
                    "x": 722,
                    "y": 12
                },
                "restore": {
                    "parameters": {
                        "authenticationType": {
                            "label": "No authenticationUse when no credentials are required for the request."
                        },
                        "tlsType": {
                            "label": "Empty"
                        },
                        "proxyKeychain": {
                            "label": "Choose a key"
                        }
                    },
                    "expect": {
                        "method": {
                            "mode": "chose",
                            "label": "GET"
                        },
                        "headers": {
                            "mode": "chose"
                        },
                        "queryParameters": {
                            "mode": "chose"
                        },
                        "contentType": {
                            "label": "Empty"
                        },
                        "parseResponse": {
                            "mode": "chose"
                        },
                        "stopOnHttpError": {
                            "mode": "chose"
                        },
                        "allowRedirects": {
                            "mode": "chose"
                        },
                        "shareCookies": {
                            "mode": "chose"
                        },
                        "requestCompressedContent": {
                            "mode": "chose"
                        },
                        "paginationType": {
                            "label": "Empty"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "authenticationType",
                        "type": "select",
                        "label": "Authentication type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "noAuth",
                                "apiKey",
                                "basicAuth",
                                "oAuth"
                            ]
                        }
                    },
                    {
                        "name": "tlsType",
                        "type": "select",
                        "label": "Transport layer security (TLS)",
                        "validate": {
                            "enum": [
                                "mTls",
                                "tls"
                            ]
                        }
                    },
                    {
                        "name": "proxyKeychain",
                        "type": "keychain:proxy",
                        "label": "Proxy"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "type": "array",
                        "label": "Headers",
                        "spec": {
                            "name": "value",
                            "label": "Header",
                            "type": "collection",
                            "spec": [
                                {
                                    "name": "name",
                                    "label": "Name",
                                    "type": "text",
                                    "required": true,
                                    "validate": {
                                        "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                                    }
                                },
                                {
                                    "name": "value",
                                    "label": "Value",
                                    "type": "text"
                                }
                            ]
                        }
                    },
                    {
                        "name": "queryParameters",
                        "type": "array",
                        "label": "Query parameters",
                        "spec": {
                            "name": "value",
                            "label": "Parameter",
                            "type": "collection",
                            "spec": [
                                {
                                    "name": "name",
                                    "label": "Name",
                                    "type": "text",
                                    "required": true
                                },
                                {
                                    "name": "value",
                                    "label": "Value",
                                    "type": "text"
                                }
                            ]
                        }
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Body content type",
                        "validate": {
                            "enum": [
                                "json",
                                "multipart",
                                "urlEncoded",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "stopOnHttpError",
                        "type": "boolean",
                        "label": "Return error if HTTP request fails",
                        "required": true
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "min": 1,
                            "max": 300
                        }
                    },
                    {
                        "name": "allowRedirects",
                        "type": "boolean",
                        "label": "Allow redirects",
                        "required": true
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "requestCompressedContent",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "paginationType",
                        "type": "select",
                        "label": "Pagination type",
                        "validate": {
                            "enum": [
                                "offsetBased",
                                "pageBased",
                                "urlBased",
                                "tokenBased"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "data",
                        "label": "Data",
                        "type": "any"
                    },
                    {
                        "name": "statusCode",
                        "label": "Status Code",
                        "type": "number"
                    },
                    {
                        "name": "headers",
                        "label": "Headers",
                        "type": "collection",
                        "spec": [
                            {
                                "name": "content-length",
                                "label": "Content-Length",
                                "type": "text"
                            },
                            {
                                "name": "content-encoding",
                                "label": "Content-Encoding",
                                "type": "text"
                            },
                            {
                                "name": "content-type",
                                "label": "Content-Type",
                                "type": "text"
                            },
                            {
                                "name": "server",
                                "label": "Server",
                                "type": "text"
                            },
                            {
                                "name": "cache-control",
                                "label": "Cache-Control",
                                "type": "text"
                            },
                            {
                                "name": "set-cookie",
                                "label": "Set-Cookie",
                                "type": "array",
                                "spec": {
                                    "type": "text"
                                }
                            }
                        ]
                    }
                ]
            },
            "onerror": [
                {
                    "id": 13,
                    "module": "airtable:ActionUpdateRecords",
                    "version": 3,
                    "parameters": {
                        "__IMTCONN__": 7278352
                    },
                    "mapper": {
                        "base": "appj8oYhWlFRxFyCC",
                        "typecast": false,
                        "useColumnId": false,
                        "table": "tblRZDkz2iwpOHGEj",
                        "id": "{{1.id}}",
                        "record": {
                            "flddYghvnfew3vMMf": "Download Failed"
                        }
                    },
                    "metadata": {
                        "designer": {
                            "x": 722,
                            "y": -315
                        },
                        "restore": {
                            "parameters": {
                                "__IMTCONN__": {
                                    "label": "My Airtable Token or Key connection",
                                    "data": {
                                        "scoped": "true",
                                        "connection": "airtable2"
                                    }
                                }
                            },
                            "expect": {
                                "base": {
                                    "label": "RecruiterOS"
                                },
                                "typecast": {
                                    "mode": "chose"
                                },
                                "useColumnId": {
                                    "mode": "chose"
                                },
                                "table": {
                                    "label": "Candidates"
                                },
                                "record": {
                                    "nested": {
                                        "fld8ATaFdOw6YwGp0": {
                                            "mode": "chose"
                                        },
                                        "flddYghvnfew3vMMf": {
                                            "mode": "edit"
                                        },
                                        "fldyWSFwzc5Q17h7a": {
                                            "mode": "chose"
                                        }
                                    }
                                }
                            }
                        },
                        "parameters": [
                            {
                                "name": "__IMTCONN__",
                                "type": "account:airtable3,airtable2",
                                "label": "Connection",
                                "required": true
                            }
                        ],
                        "expect": [
                            {
                                "name": "base",
                                "type": "select",
                                "label": "Base",
                                "required": true
                            },
                            {
                                "name": "typecast",
                                "type": "boolean",
                                "label": "Smart links",
                                "required": true
                            },
                            {
                                "name": "useColumnId",
                                "type": "boolean",
                                "label": "Use Column ID",
                                "required": true
                            },
                            {
                                "name": "table",
                                "type": "select",
                                "label": "Table",
                                "required": true
                            },
                            {
                                "name": "id",
                                "type": "text",
                                "label": "Record ID",
                                "required": true
                            },
                            {
                                "name": "record",
                                "type": "collection",
                                "label": "Record",
                                "spec": [
                                    {
                                        "name": "fld19sNvbzJZ08iJW",
                                        "type": "text",
                                        "label": "Full Name"
                                    },
                                    {
                                        "name": "fld8ATaFdOw6YwGp0",
                                        "type": "array",
                                        "label": "CV Attachment",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "label": "File URL",
                                                "type": "text"
                                            },
                                            {
                                                "name": "filename",
                                                "label": "File name",
                                                "type": "filename"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "flddYghvnfew3vMMf",
                                        "type": "select",
                                        "label": "Automation Status",
                                        "mode": "edit"
                                    },
                                    {
                                        "name": "fldyWSFwzc5Q17h7a",
                                        "type": "array",
                                        "label": "Job Link",
                                        "spec": {
                                            "label": "Record ID",
                                            "name": "value"
                                        }
                                    },
                                    {
                                        "name": "fldD0dxHP6yHC8ZEp",
                                        "type": "number",
                                        "label": "AI Match Score"
                                    },
                                    {
                                        "name": "fld7RUxA9mqU5IsM5",
                                        "type": "text",
                                        "label": "AI Summary"
                                    },
                                    {
                                        "name": "fldKU4gVhyoF5Btox",
                                        "type": "text",
                                        "label": "Extracted Email"
                                    },
                                    {
                                        "name": "fldKXPaES3626HnBl",
                                        "type": "text",
                                        "label": "Extracted Phone"
                                    }
                                ]
                            }
                        ],
                        "interface": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "createdTime",
                                "type": "date",
                                "label": "Created Time"
                            },
                            {
                                "name": "Full Name",
                                "label": "Full Name",
                                "type": "text"
                            },
                            {
                                "name": "CV Attachment",
                                "label": "CV Attachment",
                                "type": "array",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "width",
                                        "type": "uinteger",
                                        "label": "Width"
                                    },
                                    {
                                        "name": "height",
                                        "type": "uinteger",
                                        "label": "Height"
                                    },
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL"
                                    },
                                    {
                                        "name": "filename",
                                        "type": "filename",
                                        "label": "File name"
                                    },
                                    {
                                        "name": "size",
                                        "type": "uinteger",
                                        "label": "Size"
                                    },
                                    {
                                        "name": "type",
                                        "label": "MIME type",
                                        "type": "text"
                                    },
                                    {
                                        "name": "thumbnails",
                                        "label": "Thumbnails",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "small",
                                                "label": "Small",
                                                "type": "collection",
                                                "spec": [
                                                    {
                                                        "name": "url",
                                                        "type": "url",
                                                        "label": "URL"
                                                    },
                                                    {
                                                        "name": "width",
                                                        "type": "uinteger",
                                                        "label": "Width"
                                                    },
                                                    {
                                                        "name": "height",
                                                        "type": "uinteger",
                                                        "label": "Height"
                                                    }
                                                ]
                                            },
                                            {
                                                "name": "large",
                                                "label": "Large",
                                                "type": "collection",
                                                "spec": [
                                                    {
                                                        "name": "url",
                                                        "type": "url",
                                                        "label": "URL"
                                                    },
                                                    {
                                                        "name": "width",
                                                        "type": "uinteger",
                                                        "label": "Width"
                                                    },
                                                    {
                                                        "name": "height",
                                                        "type": "uinteger",
                                                        "label": "Height"
                                                    }
                                                ]
                                            },
                                            {
                                                "name": "full",
                                                "label": "Full",
                                                "type": "collection",
                                                "spec": [
                                                    {
                                                        "name": "url",
                                                        "type": "url",
                                                        "label": "URL"
                                                    },
                                                    {
                                                        "name": "width",
                                                        "type": "uinteger",
                                                        "label": "Width"
                                                    },
                                                    {
                                                        "name": "height",
                                                        "type": "uinteger",
                                                        "label": "Height"
                                                    }
                                                ]
                                            }
                                        ]
                                    }
                                ]
                            },
                            {
                                "name": "Automation Status",
                                "label": "Automation Status",
                                "type": "text"
                            },
                            {
                                "name": "Job Link",
                                "label": "Job Link",
                                "type": "array",
                                "spec": {
                                    "label": "Record ID"
                                }
                            },
                            {
                                "name": "AI Match Score",
                                "label": "AI Match Score",
                                "type": "number"
                            },
                            {
                                "name": "AI Summary",
                                "label": "AI Summary",
                                "type": "text",
                                "multiline": true
                            },
                            {
                                "name": "Extracted Email",
                                "label": "Extracted Email",
                                "type": "text"
                            },
                            {
                                "name": "Extracted Phone",
                                "label": "Extracted Phone",
                                "type": "text"
                            },
                            {
                                "name": "Last Modified Time",
                                "label": "Last Modified Time",
                                "type": "date"
                            }
                        ]
                    }
                }
            ]
        },
        {
            "id": 24,
            "module": "http:MakeRequest",
            "version": 4,
            "parameters": {
                "authenticationType": "apiKey",
                "tlsType": "",
                "proxyKeychain": "",
                "apiKeyKeychain": 168108
            },
            "filter": null,
            "mapper": {
                "url": "https://api.pdf.co/v1/pdf/convert/to/text",
                "method": "post",
                "headers": [
                    {
                        "name": "x-api-key",
                        "value": "code4lwandi@gmail.com_zFmM3h19fx81pfyNdYfWCvwj4v2IWUeY4EPtzmbjsvBpdhZdEwUNGz5cWCFAPiZC"
                    }
                ],
                "contentType": "json",
                "parseResponse": true,
                "stopOnHttpError": true,
                "allowRedirects": true,
                "shareCookies": false,
                "requestCompressedContent": true,
                "inputMethod": "jsonString",
                "jsonStringBodyContent": "{\n  \"url\": \"{{9.cvURL}}\",\n  \"inline\": true,\n  \"async\": false\n}"
            },
            "metadata": {
                "designer": {
                    "x": 1014,
                    "y": 7
                },
                "restore": {
                    "parameters": {
                        "authenticationType": {
                            "label": "API keyUse when the service requires an API key in the header or query parameters."
                        },
                        "tlsType": {
                            "label": "Empty"
                        },
                        "proxyKeychain": {
                            "label": "Choose a key"
                        },
                        "apiKeyKeychain": {
                            "label": "My API Key Auth key"
                        }
                    },
                    "expect": {
                        "method": {
                            "mode": "chose",
                            "label": "POST"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "queryParameters": {
                            "mode": "chose"
                        },
                        "contentType": {
                            "label": "application/jsonEnter data in the JSON format, as a string or using a data structure."
                        },
                        "parseResponse": {
                            "mode": "chose"
                        },
                        "stopOnHttpError": {
                            "mode": "chose"
                        },
                        "allowRedirects": {
                            "mode": "chose"
                        },
                        "shareCookies": {
                            "mode": "chose"
                        },
                        "requestCompressedContent": {
                            "mode": "chose"
                        },
                        "inputMethod": {
                            "label": "JSON stringEnter the JSON body as a raw text string. If values contain JSON reserved characters, you must escape them manually."
                        },
                        "paginationType": {
                            "label": "Empty"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "authenticationType",
                        "type": "select",
                        "label": "Authentication type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "noAuth",
                                "apiKey",
                                "basicAuth",
                                "oAuth"
                            ]
                        }
                    },
                    {
                        "name": "tlsType",
                        "type": "select",
                        "label": "Transport layer security (TLS)",
                        "validate": {
                            "enum": [
                                "mTls",
                                "tls"
                            ]
                        }
                    },
                    {
                        "name": "proxyKeychain",
                        "type": "keychain:proxy",
                        "label": "Proxy"
                    },
                    {
                        "name": "apiKeyKeychain",
                        "type": "keychain:apikeyauth",
                        "label": "Credentials",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "type": "array",
                        "label": "Headers",
                        "spec": {
                            "name": "value",
                            "label": "Header",
                            "type": "collection",
                            "spec": [
                                {
                                    "name": "name",
                                    "label": "Name",
                                    "type": "text",
                                    "required": true,
                                    "validate": {
                                        "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                                    }
                                },
                                {
                                    "name": "value",
                                    "label": "Value",
                                    "type": "text"
                                }
                            ]
                        }
                    },
                    {
                        "name": "queryParameters",
                        "type": "array",
                        "label": "Query parameters",
                        "spec": {
                            "name": "value",
                            "label": "Parameter",
                            "type": "collection",
                            "spec": [
                                {
                                    "name": "name",
                                    "label": "Name",
                                    "type": "text",
                                    "required": true
                                },
                                {
                                    "name": "value",
                                    "label": "Value",
                                    "type": "text"
                                }
                            ]
                        }
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Body content type",
                        "validate": {
                            "enum": [
                                "json",
                                "multipart",
                                "urlEncoded",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "stopOnHttpError",
                        "type": "boolean",
                        "label": "Return error if HTTP request fails",
                        "required": true
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "min": 1,
                            "max": 300
                        }
                    },
                    {
                        "name": "allowRedirects",
                        "type": "boolean",
                        "label": "Allow redirects",
                        "required": true
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "requestCompressedContent",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "inputMethod",
                        "type": "select",
                        "label": "Body input method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "dataStructure",
                                "jsonString"
                            ]
                        }
                    },
                    {
                        "name": "jsonStringBodyContent",
                        "type": "text",
                        "label": "Body content",
                        "required": true
                    },
                    {
                        "name": "paginationType",
                        "type": "select",
                        "label": "Pagination type",
                        "validate": {
                            "enum": [
                                "offsetBased",
                                "pageBased",
                                "urlBased",
                                "tokenBased"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "data",
                        "label": "Data",
                        "type": "any"
                    },
                    {
                        "name": "statusCode",
                        "label": "Status Code",
                        "type": "number"
                    },
                    {
                        "name": "headers",
                        "label": "Headers",
                        "type": "collection",
                        "spec": [
                            {
                                "name": "content-length",
                                "label": "Content-Length",
                                "type": "text"
                            },
                            {
                                "name": "content-encoding",
                                "label": "Content-Encoding",
                                "type": "text"
                            },
                            {
                                "name": "content-type",
                                "label": "Content-Type",
                                "type": "text"
                            },
                            {
                                "name": "server",
                                "label": "Server",
                                "type": "text"
                            },
                            {
                                "name": "cache-control",
                                "label": "Cache-Control",
                                "type": "text"
                            },
                            {
                                "name": "set-cookie",
                                "label": "Set-Cookie",
                                "type": "array",
                                "spec": {
                                    "type": "text"
                                }
                            }
                        ]
                    }
                ]
            }
        },
        {
            "id": 27,
            "module": "groq:chatCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 7611486
            },
            "mapper": {
                "model": "llama-3.1-8b-instant",
                "messages": [
                    {
                        "role": "system",
                        "content": "You are a professional technical recruiter. Extract from the provided CV: years_experience (number), key_skills (array of strings, max 10), top_projects (array of exactly 3 strings), overall_score (number 1-100). Return ONLY valid JSON. No markdown. No explanations."
                    },
                    {
                        "role": "user",
                        "content": "Map the extracted text from your PDF.co module {{24.data.body}}"
                    }
                ],
                "response_format": "text"
            },
            "metadata": {
                "designer": {
                    "x": 1314,
                    "y": 7
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Groq connection",
                            "data": {
                                "scoped": "true",
                                "connection": "groq"
                            }
                        }
                    },
                    "expect": {
                        "model": {
                            "mode": "chose",
                            "label": "llama-3.1-8b-instant"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "System"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    }
                                }
                            ]
                        },
                        "response_format": {
                            "mode": "chose",
                            "label": "Text"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:groq",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "messages",
                        "type": "array",
                        "label": "Messages",
                        "required": true,
                        "spec": [
                            {
                                "name": "role",
                                "type": "select",
                                "label": "Role",
                                "options": [
                                    {
                                        "label": "System",
                                        "value": "system"
                                    },
                                    {
                                        "label": "User",
                                        "value": "user"
                                    },
                                    {
                                        "label": "Assistant",
                                        "value": "assistant"
                                    }
                                ]
                            },
                            {
                                "name": "content",
                                "type": "text",
                                "label": "Content"
                            }
                        ]
                    },
                    {
                        "name": "max_tokens",
                        "type": "number",
                        "label": "Max tokens returned"
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature"
                    },
                    {
                        "name": "response_format",
                        "type": "select",
                        "label": "Response Format",
                        "validate": {
                            "enum": [
                                "text",
                                "json_object"
                            ]
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P"
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty"
                    },
                    {
                        "name": "seed",
                        "type": "number",
                        "label": "Seed"
                    }
                ]
            }
        },
        {
            "id": 29,
            "module": "json:ParseJSON",
            "version": 1,
            "parameters": {
                "type": ""
            },
            "mapper": {
                "json": "{{27.choices[].message.content}}"
            },
            "metadata": {
                "designer": {
                    "x": 1614,
                    "y": 7
                },
                "restore": {
                    "parameters": {
                        "type": {
                            "label": "Choose a data structure"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure"
                    }
                ],
                "expect": [
                    {
                        "name": "json",
                        "type": "text",
                        "label": "JSON string",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 30,
            "module": "airtable:ActionUpdateRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 7278352
            },
            "mapper": {
                "base": "appj8oYhWlFRxFyCC",
                "typecast": false,
                "useColumnId": false,
                "table": "tblRZDkz2iwpOHGEj",
                "id": "{{1.id}}",
                "record": {
                    "fldD0dxHP6yHC8ZEp": "{{29.overall_score}}",
                    "fld7RUxA9mqU5IsM5": "{{29.years_experience}} years exp. Skills:{{join(29.key_skills; \", \")}}. Projects: {{join(29.top_projects; \"; \")}}. Build a formatted string using these pills."
                }
            },
            "metadata": {
                "designer": {
                    "x": 1914,
                    "y": 7
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Airtable Token or Key connection",
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            }
                        }
                    },
                    "expect": {
                        "base": {
                            "label": "RecruiterOS"
                        },
                        "typecast": {
                            "mode": "chose"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        },
                        "table": {
                            "label": "Candidates"
                        },
                        "record": {
                            "nested": {
                                "fld8ATaFdOw6YwGp0": {
                                    "mode": "chose"
                                },
                                "flddYghvnfew3vMMf": {
                                    "mode": "edit"
                                },
                                "fldyWSFwzc5Q17h7a": {
                                    "mode": "chose"
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "typecast",
                        "type": "boolean",
                        "label": "Smart links",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Record ID",
                        "required": true
                    },
                    {
                        "name": "record",
                        "type": "collection",
                        "label": "Record",
                        "spec": [
                            {
                                "name": "fld19sNvbzJZ08iJW",
                                "type": "text",
                                "label": "Full Name"
                            },
                            {
                                "name": "fld8ATaFdOw6YwGp0",
                                "type": "array",
                                "label": "CV Attachment",
                                "spec": [
                                    {
                                        "name": "url",
                                        "label": "File URL",
                                        "type": "text"
                                    },
                                    {
                                        "name": "filename",
                                        "label": "File name",
                                        "type": "filename"
                                    }
                                ]
                            },
                            {
                                "name": "flddYghvnfew3vMMf",
                                "type": "select",
                                "label": "Automation Status",
                                "mode": "edit"
                            },
                            {
                                "name": "fldyWSFwzc5Q17h7a",
                                "type": "array",
                                "label": "Job Link",
                                "spec": {
                                    "label": "Record ID",
                                    "name": "value"
                                }
                            },
                            {
                                "name": "fldD0dxHP6yHC8ZEp",
                                "type": "number",
                                "label": "AI Match Score"
                            },
                            {
                                "name": "fld7RUxA9mqU5IsM5",
                                "type": "text",
                                "label": "AI Summary"
                            },
                            {
                                "name": "fldKU4gVhyoF5Btox",
                                "type": "text",
                                "label": "Extracted Email"
                            },
                            {
                                "name": "fldKXPaES3626HnBl",
                                "type": "text",
                                "label": "Extracted Phone"
                            }
                        ]
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Full Name",
                        "label": "Full Name",
                        "type": "text"
                    },
                    {
                        "name": "CV Attachment",
                        "label": "CV Attachment",
                        "type": "array",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "width",
                                "type": "uinteger",
                                "label": "Width"
                            },
                            {
                                "name": "height",
                                "type": "uinteger",
                                "label": "Height"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name"
                            },
                            {
                                "name": "size",
                                "type": "uinteger",
                                "label": "Size"
                            },
                            {
                                "name": "type",
                                "label": "MIME type",
                                "type": "text"
                            },
                            {
                                "name": "thumbnails",
                                "label": "Thumbnails",
                                "type": "collection",
                                "spec": [
                                    {
                                        "name": "small",
                                        "label": "Small",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "large",
                                        "label": "Large",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "full",
                                        "label": "Full",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ]
                                    }
                                ]
                            }
                        ]
                    },
                    {
                        "name": "Automation Status",
                        "label": "Automation Status",
                        "type": "text"
                    },
                    {
                        "name": "Job Link",
                        "label": "Job Link",
                        "type": "array",
                        "spec": {
                            "label": "Record ID"
                        }
                    },
                    {
                        "name": "AI Match Score",
                        "label": "AI Match Score",
                        "type": "number"
                    },
                    {
                        "name": "AI Summary",
                        "label": "AI Summary",
                        "type": "text",
                        "multiline": true
                    },
                    {
                        "name": "Extracted Email",
                        "label": "Extracted Email",
                        "type": "text"
                    },
                    {
                        "name": "Extracted Phone",
                        "label": "Extracted Phone",
                        "type": "text"
                    },
                    {
                        "name": "Last Modified Time",
                        "label": "Last Modified Time",
                        "type": "date"
                    }
                ]
            }
        },
        {
            "id": 33,
            "module": "airtable:ActionUpdateRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 7278352
            },
            "mapper": {
                "base": "appj8oYhWlFRxFyCC",
                "typecast": false,
                "useColumnId": false,
                "table": "tblRZDkz2iwpOHGEj",
                "id": "{{1.id}}",
                "record": {
                    "flddYghvnfew3vMMf": "Done"
                }
            },
            "metadata": {
                "designer": {
                    "x": 2214,
                    "y": 7
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Airtable Token or Key connection",
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            }
                        }
                    },
                    "expect": {
                        "base": {
                            "label": "RecruiterOS"
                        },
                        "typecast": {
                            "mode": "chose"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        },
                        "table": {
                            "label": "Candidates"
                        },
                        "record": {
                            "nested": {
                                "fld8ATaFdOw6YwGp0": {
                                    "mode": "chose"
                                },
                                "flddYghvnfew3vMMf": {
                                    "mode": "edit"
                                },
                                "fldyWSFwzc5Q17h7a": {
                                    "mode": "chose"
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "typecast",
                        "type": "boolean",
                        "label": "Smart links",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Record ID",
                        "required": true
                    },
                    {
                        "name": "record",
                        "type": "collection",
                        "label": "Record",
                        "spec": [
                            {
                                "name": "fld19sNvbzJZ08iJW",
                                "type": "text",
                                "label": "Full Name"
                            },
                            {
                                "name": "fld8ATaFdOw6YwGp0",
                                "type": "array",
                                "label": "CV Attachment",
                                "spec": [
                                    {
                                        "name": "url",
                                        "label": "File URL",
                                        "type": "text"
                                    },
                                    {
                                        "name": "filename",
                                        "label": "File name",
                                        "type": "filename"
                                    }
                                ]
                            },
                            {
                                "name": "flddYghvnfew3vMMf",
                                "type": "select",
                                "label": "Automation Status",
                                "mode": "edit"
                            },
                            {
                                "name": "fldyWSFwzc5Q17h7a",
                                "type": "array",
                                "label": "Job Link",
                                "spec": {
                                    "label": "Record ID",
                                    "name": "value"
                                }
                            },
                            {
                                "name": "fldD0dxHP6yHC8ZEp",
                                "type": "number",
                                "label": "AI Match Score"
                            },
                            {
                                "name": "fld7RUxA9mqU5IsM5",
                                "type": "text",
                                "label": "AI Summary"
                            },
                            {
                                "name": "fldKU4gVhyoF5Btox",
                                "type": "text",
                                "label": "Extracted Email"
                            },
                            {
                                "name": "fldKXPaES3626HnBl",
                                "type": "text",
                                "label": "Extracted Phone"
                            }
                        ]
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Full Name",
                        "label": "Full Name",
                        "type": "text"
                    },
                    {
                        "name": "CV Attachment",
                        "label": "CV Attachment",
                        "type": "array",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "width",
                                "type": "uinteger",
                                "label": "Width"
                            },
                            {
                                "name": "height",
                                "type": "uinteger",
                                "label": "Height"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name"
                            },
                            {
                                "name": "size",
                                "type": "uinteger",
                                "label": "Size"
                            },
                            {
                                "name": "type",
                                "label": "MIME type",
                                "type": "text"
                            },
                            {
                                "name": "thumbnails",
                                "label": "Thumbnails",
                                "type": "collection",
                                "spec": [
                                    {
                                        "name": "small",
                                        "label": "Small",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "large",
                                        "label": "Large",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "full",
                                        "label": "Full",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ]
                                    }
                                ]
                            }
                        ]
                    },
                    {
                        "name": "Automation Status",
                        "label": "Automation Status",
                        "type": "text"
                    },
                    {
                        "name": "Job Link",
                        "label": "Job Link",
                        "type": "array",
                        "spec": {
                            "label": "Record ID"
                        }
                    },
                    {
                        "name": "AI Match Score",
                        "label": "AI Match Score",
                        "type": "number"
                    },
                    {
                        "name": "AI Summary",
                        "label": "AI Summary",
                        "type": "text",
                        "multiline": true
                    },
                    {
                        "name": "Extracted Email",
                        "label": "Extracted Email",
                        "type": "text"
                    },
                    {
                        "name": "Extracted Phone",
                        "label": "Extracted Phone",
                        "type": "text"
                    },
                    {
                        "name": "Last Modified Time",
                        "label": "Last Modified Time",
                        "type": "date"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}